<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Original House Of Donuts</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500&display=swap" rel="stylesheet">

</head>
<body class="modal-loaded">
    <div id="ohod-app" class="ohod-site-wrapper">
        <header class="site-header">
            <div class="ohod-header">
                <div class="ohod-header-left">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/img/houselogo.png" height="65" width="80" /></a>
                </div>
                <div class="ohod-header-center">
                    <nav class="ohod-nav">
                        <ul class="ohod-items">
                            <li class="ohod-item">
                                <a class="ohod-nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="ohod-item">
                                <a class="ohod-nav-link" asp-area="" asp-controller="Home" asp-action="Menu">Menu</a>
                            </li>
                            <li class="ohod-item">
                                <a class="ohod-nav-link" asp-area="" asp-controller="Home" asp-action="History">History</a>
                            </li>
                            <li class="ohod-item">
                                <a class="ohod-nav-link" asp-area="" asp-controller="Home" asp-action="Careers">Careers</a>
                            </li>
                            <li class="ohod-item">
                                <a class="ohod-nav-link" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="ohod-header-right">
                    <div class="ohod-order">
                        <a class="ohod-order-link" asp-area="" asp-controller="Product" asp-action="Order">Order Now</a>
                    </div>
                </div>
            </div>
        </header>
    </div>
    
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="footer">
            &copy; 2021 - Original House Of Donuts - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
