* {
    overflow: hidden;
    box-sizing: border-box;
}

html{
    height: 100%;
    width: 100%;
}

body {
    background: #F0803C;
    color: #fff;
    font-size: 1.2em;
    line-height: 1.4;
}


/* navbar css */
.ohod-site-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
}

.site-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
}

.ohod-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    background-color: transparent;
}

.ohod-header-left {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    margin-right: auto;
    padding-right: 1.5rem;
}

.navbar-brand {
    display: flex;
    height: 6rem;
    padding: 0 1.5rem;
    align-content: center;
    align-items: center;
}

.ohod-header-center {
    flex-shrink: 0;
    text-align: center;
}

.ohod-items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ohod-item {
    margin-left: .5rem;
    margin-right: .5rem;
    display: inline-block;
    color: #fff;
    line-height: .9;
    font-size: .8em;
    text-align: center;
    font-stretch: condensed;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.ohod-nav-link {
    text-decoration: none;
    white-space: nowrap;
    font-family: 'Barlow Condensed', sans-serif;
}

a {
    color: inherit;
    background-color: transparent;
}

.ohod-nav-item:first-child {
    margin-left: 0;
}

.ohod-header-right {
    flex-shrink: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 50px;
    padding-left: 1.5rem;
}

.ohod-order {
    margin-left: 2rem;
    position: relative;
    overflow: visible;
}

.ohod-order-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 15.7rem;
    height: 4.5rem;
    padding-left: 4.4rem;
    padding-right: 4.4rem;
    background-color: #F0803C;
    border: 0;
    border-radius: 0;
    color: #fff;
    font-size: .9em;
    font-family: 'Barlow Condensed', sans-serif;
    line-height: 1.1;
    font-stretch: condensed;
    letter-spacing: .05em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.ohod-header-left,
.ohod-header-right {
    flex-basis: 30rem;
}

.ohod-header-left,
.ohod-header-right,
.ohod-header-center{
    flex-grow: 1;
}


/* slider css */
.ohod-carousel-content {
    flex: 1;
}

.ohod-home {
    width: 100%;
    height: calc(100vh - 6rem);
    overflow: hidden;
    position: relative;
}

.container-fluid {
    padding: 0 !important;
}

.carousel-item {
    padding: 0;
    margin: 0;
    height: 100%;
}