*, *::before, *::after {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    box-sizing: content-box;
}

h1, h4 {
    text-align: center;
}

.col-md-7 {
    padding: 0;
}

.carousel-item {
    height: 700px !important;
}